/* Body needs to have 
Font-family 'Arial', 'Helvetica Neue', Helvetica, Sans-serif;
Color: #777
Background #777
Width: 960px
font-size: 18px
*/
/* Header, Nav, Section, Aside, and Footer needs to have
Bacckground: #ebebeb
*/

* {
    box-sizing: border-box;
    text-align: center;
    /* outline: 2px dotted black; */
}

body {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header, nav, footer {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
}

.height_inherit {
    display: flex;
}

section {
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 1%;
    background: #ebebeb;
}

aside {
    word-wrap: break-word;
    width: 50%;
    height: inherit;
    padding: 95px;
    margin-bottom: 20px;
    margin-left: 1%;
    background: #ebebeb;
}

article {
    word-wrap: break-word;
    max-width: 100%;
    padding: 5px;
    color: #ebebeb;
    background: #777;
}

h1, p {
    width: 95%;
    padding: 10px;
    margin: 10px;
    color: #777;
    background: #ebebeb;
}

footer {
    padding: 20px;
    background: #ebebeb;
}

/* Article needs to have
color: #ebebeb
background #777
*/
/* h1 and p needs to have
color: #777
background #ebebeb
*/
/* Widths of each section should be
section: 495px